body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#2b1b14;
color:#f5e6d3;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#1c120d;
}

header h1{
color:#e5c08b;
}

nav a{
color:#f5e6d3;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#e5c08b;
}

.hero{
height:500px;
background:url("images/hero.jpg") center/cover no-repeat;
display:flex;
align-items:center;
padding-left:60px;
}

.hero-text{
max-width:400px;
}

.hero h2{
font-size:40px;
margin-bottom:10px;
}

.button{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:#e5c08b;
color:#1c120d;
text-decoration:none;
border-radius:6px;
font-weight:bold;
}

.features{
display:flex;
justify-content:space-around;
padding:60px 20px;
background:#3b241b;
text-align:center;
}

.feature{
width:250px;
}

.page-title{
text-align:center;
margin-top:40px;
}

.menu-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
padding:60px;
}

.coffee{
text-align:center;
background:#3b241b;
padding:20px;
border-radius:10px;
}

.coffee img{
width:100%;
border-radius:10px;
}

.contact{
text-align:center;
padding:100px 20px;
}

footer{
text-align:center;
padding:20px;
background:#1c120d;
}